shared: &shared
  build_dir_path: ./build
  remote_path: /var/apps/slides/public
  github_repo_url: https://github.com/HTW-Webtech/ai-webtech-portal-ws-2015

development: &development
  <<: *shared
  revealjs_host: http://localhost:1947
  slides_host: http://localhost:8011
  rsync_host: htw-aris-vagrant # Configure this in your ~/.ssh/config

production:
  <<: *shared
  revealjs_host: http://revealjs.htw-webtech.com
  slides_host: http://slides.htw-webtech.com
  rsync_host: aris # Configure in ~/.ssh/config

