/*
 * CONTENTS
 *
 * Target State
 * Custom Classes
 * Grid
 * Tables
 * Lists
 * Presentation
 * Messages
 * Forms
 * File Tree
 */


/*
 * Target State
 *
 * Used to highlight specificly linked parts of a site, e.g. https://beier.f4.htw-berlin.de/rahmen/#bewertung
 */

h3:target,
h3:target + p,
h3:target + p + p,
h3:target + p + p + p,
h3:target + p + p + p + p,
h3:target + p + p + p + p + p {
   background-color: $htw-blue-light;
   outline: 0.5rem solid $htw-blue-light;
}


/*
 * Custom Classes
 */

.lead {
   font-size: 1.25rem;
   font-weight: 300;
}

.centered { text-align: center; }

.full-width { width: 100%; }

.left {
   float: left;
   margin-right: 1rem;
}
.right {
   float: right;
   margin-left: 1rem;
}


/*
 * Grid
 */

.grid { display: flex; }

.grid-center {
   text-align: center;
   align-items: center;
   justify-content: center;
}

.grid-full .grid-cell { margin: 0; }

.grid-cell {
   flex: 1;
   margin: 0 1rem;

   &:first-child { margin-left: 0; }
   &:last-child { margin-right: 0; }
}


/*
 * Tables
 */

table {
   width: 100%;
   margin-bottom: 1rem;
   border: 1px solid #e5e5e5;
   border-collapse: collapse;
}
td,
th {
   padding: .25rem .5rem;
   border: 1px solid #e5e5e5;
}
th,
.striped > tr:nth-child(odd) td,
.striped > tr:nth-child(odd) th {
   background-color: $color-lighterGray;
}

.woche-gerade,
.woche-ungerade { padding-left: .7rem; }
.woche-gerade   { box-shadow: .2rem 0 0 0 $htw-blue inset; }
.woche-ungerade { box-shadow: .2rem 0 0 0 $htw-orange inset; }

.dozent-anderer { color: $htw-blue; }

.is-scrollable { overflow: auto; }


/*
 * Entry-List
 */

.entry-list {
   padding-left: 0;
   list-style: none;
   font-size: $font-size-huge;

   & li time {
      color: $htw-gray;
      font-size: 75%;
   }
}


/*
 * Circle-Line
 */

 ul.circle-line li:before { content: '•'; }

.circle-line {

   $left:   2.0rem;
   $bottom: 1rem;
   $size:   1.5rem;
   $line:   2px;

   padding-left: $left;
   list-style-type: none;
   counter-reset: step-counter;
   font-size: $font-size-huge;

   li {
      position: relative;
      margin: 0 0 $bottom;

      &:before {
         z-index: 11;
         box-sizing: border-box;
         content: counter(step-counter);
         counter-increment: step-counter;

         position: absolute;
         top: 3px;
         left: -$left;

         display: flex;
         align-items: center;
         justify-content: center;
         display: -webkit-flex;
         -webkit-align-items: center;
         -webkit-justify-content: center;

         width: $size;
         height: $size;

         border: $line solid $color-lightGray;
         border-radius: 50%;
         background-color: $color-bg;
         color: $htw-gray;
         font-size: 80%;
         font-family: $font-family-monospace;
      }

      &:after {
         content: "";
         z-index: 10;
         position: absolute;
         top: $bottom / 2;
         bottom: -$bottom * 1.5;
         left: -$left;
         width: $size / 2;
         border-right: $line solid $color-lightGray;
         margin-left: -$line / 2;
      }

      &:last-child:after { display: none; }
   }


}


/*
 * Presentation
 *
 * Embedded Shower presentations
 */

.presentation {
   display: block; // removes whitespace
   width: 100vw;
   height: 100vh;
}

.presentation-template { display: none; }


/*
 * Messages
 *
 * Show alert messages to users. You may add it to single elements like a `<p>`,
 * or to a parent if there are multiple elements to show.
 */

.message {
   margin-bottom: 1rem;
   padding: 1rem;
   text-align: center;
   color: #717171;
   background-color: $color-lighterGray;

   &.success {
      background-color: $htw-green;
      color: $poole-white;
   }

   &.bonus {
      position: relative;
      margin-bottom: 1rem;
      padding-top: 1rem;
      background-color: $htw-blue-light;

      $size: 1rem;
      &:before {
         content: "+";
         position: absolute;
         top: -$size;
         right: -$size;
         display: block;
         width: $size * 2;
         height: $size * 2;
         border: 3px solid $poole-white;
         text-align: center;
         color: $poole-white;
         border-radius: 50%;
         background-color: $htw-blue-light;
         font-size: $size * 2;
         line-height: $size * 2;
      }

      p {
         padding: 0 1rem 1rem;
         margin-bottom: 0;
      }

      pre,
      code {
        background-color: mix($htw-blue-light, $color-lighterGray, 30%);
      }
   }
}



/*
 * Forms
 */

input {
   border: 2px solid $color-lightGray;

   &.huge {
      width: 100%;
      margin: .5rem 0 1rem;
      padding: .5rem;
   }
}

input[type="search"] {
   background: url($search-icon) center right / contain no-repeat;
   box-sizing: border-box;
}


/*
 * File Tree
 *
 * From http://codepen.io/patrickhlauke/pen/azbYWZ
 */

.tree {
   font-family: monospace; font-size: 1em; line-height: 1.1; -webkit-text-size-adjust: none;
   ul { margin-left: 0; padding-left: 0;  list-style: none; }
   li { margin: 0; padding: 0; }
   ul > li::before { content: "├── "; }
   ul > li > ul > li > ul > li::before { content: "│\00a0\00a0\00a0├── "}
   ul > li > ul > li:last-child > ul > li::before { content: "\00a0\00a0\00a0\00a0├── "}
   ul.ascii { border:none; margin-left: 0; }
   ul.ascii > li::before { content: ""; }
   ul.ascii > li > ul > li:last-child::before { content: "└── "; }
   ul.ascii > li > ul > li > ul li:last-child::before { content: "│\00a0\00a0\00a0└── "; }
   ul.ascii > li > ul > li:last-child > ul li:last-child::before { content: "\00a0\00a0\00a0\00a0└── "; }
}


/*
 * Print
 */

 @media print {
   .masthead-title a[href]:after { content: ""; }
}
