.editor {

   display: -webkit-flex;
   -webkit-flex-wrap: wrap;
   -webkit-align-items: stretch;
   display: flex;
   flex-wrap: wrap;
   align-items: stretch;


   max-height: 27rem;
   overflow: auto;
   margin-bottom: 1rem;
   border: 1px solid $color-lightGray;

   .block {
      -webkit-flex: 1;
      flex: 1;
      overflow: auto;
      min-width: 15rem;
      margin: 0;
      padding: .5rem;
      border: 1px solid $color-lightGray;
   }

   &.auto .block {
     -webkit-flex: 1 auto;
     flex: 1 auto;
   }

   .code {
      position: relative;
      overflow-x: hidden;
      outline: none;
      border-radius: 0;

      &:after {
         content: attr(data-lang);
         z-index: 10;
         position: absolute;
         top: -2px;
         right: -2px;
         padding: 3px 4px 2px;
         color: white;
         background: $color-lightGray;
         font: 75% / 1 $font-family-sans-serif;
         text-transform: uppercase;
      }

      pre,
      code {
         margin: 0;
         padding: 0;
         background-color: white;
         line-height: 1.5;
         white-space: pre-wrap;
      }
   }

   .result iframe { width: 100%; }

   .hidden { display: none !important; }
}
