/*
 * Based on https://github.com/poole/lanyon by @mdo.
 */

/*
 * Contents
 *
 * Body resets
 * Container
 * Masthead
 * Posts and pages
 * Pagination
 */

/*
 * Body resets
 *
 * Update the foundational and global aspects of the page.
 */

* {
   -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
           box-sizing: border-box;
}

html,
body {
   overflow-x: hidden;
   margin: 0;
   padding: 0;
}

html {
   font-family: $font-family-text;
   font-size:   $font-size-base;
   line-height: $line-height-base;
   font-weight: 400;
}
@media (min-width: 38rem) {
   html {
      font-size: $font-size-large;
   }
}

body {
   color: $color-text;
   background-color: $color-bg;

   -webkit-text-size-adjust: 100%;
       -ms-text-size-adjust: 100%;
}

/* No `:visited` state is required by default (browsers will use `a`) */
a,
a code {
   text-decoration: none;
   color: $link-color;

   /* `:focus` is linked to `:hover` for basic accessibility */
   &:hover,
   &:focus {
      text-decoration: underline;
   }
}
a strong { color: inherit; }


/* Headings */
h1, h2, h3, h4, h5, h6 {
   margin-bottom: .5rem;
   letter-spacing: -.025rem;
   text-rendering: optimizeLegibility;
   color: $color-darkGray;
   font-family: $font-family-headings;
   font-weight: 400;
   line-height: 1.25;
}
h1 {
   font-size: 2rem;
}
h2 {
   margin-top: 2rem;
   font-size: 1.5rem;
}
h3 {
   margin-top: 1.5rem;
   font-size: 1.25rem;
}
h4, h5, h6 {
   margin-top: 1rem;
   margin-bottom: .25rem;
   font-size: 1rem;
}

/* Body text */
p {
   margin-top: 0;
   margin-bottom: 1rem;
}

strong {
   font-weight: 700;
}


/* Lists */
ul, ol, dl {
   margin-top: 0;
   margin-bottom: 1rem;
   padding-left: 2rem;

   ul, ol, dl { margin-bottom: 0; }
}

p + ul,
p + ol,
p + dl {
   margin-top: -.5rem;
}

dt {
   // font-weight: bold;
   font-style: italic;
}
dd {
   margin-bottom: .5rem;
}

/* Misc */
hr {
   position: relative;
   margin: 1.5rem 0;
   border: 0;
   border-top: 3px solid #eee;
}

abbr {
   text-transform: uppercase;
   color: #555;
   font-size: 85%;
   font-weight: bold;

   &[title] {
      cursor: help;
      border-bottom: 1px dotted #e5e5e5;
   }
}

/* Code */
code,
pre {
   font-family: $font-family-code;
}
code {
   padding: .25em .5em;
   color: #bf616a;
   border-radius: 3px;
   background-color: $color-lighterGray;
   font-size: 85%;
}
pre {
   display: block;
   margin-top: 0;
   margin-bottom: 1rem;
   padding: 1rem;
   white-space: pre;
   white-space: pre-wrap;
   word-wrap: break-word;
   word-break: break-all;
   background-color: $color-lighterGray;
   font-size: .8rem;
   line-height: 1.4;
}
pre code {
   padding: 0;
   color: inherit;
   background-color: transparent;
   font-size: 100%;
}
.highlight {
   margin-bottom: 1rem;
   // border-radius: 4px;

   pre {
      margin-bottom: 0;
   }
   // in case you want line numbers
   // & > table {
   //    border: 0;

   //    td {
   //      border: 0;
   //      padding: 0;

   //      .lineno {
   //        line-height: 1;
   //        padding: 0.7rem;
   //      }
   //    }
   // }
}

/* Quotes */
blockquote {
   margin: .8rem 0;
   padding: .5rem 1rem;
   color: #7a7a7a;
   border-left: .25rem solid #e5e5e5;
}
blockquote p:last-child {
   margin-bottom: 0;
}
@media (min-width: 30rem) {
   blockquote {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
   }
}

img {
   display: block;
   max-width: 100%;
   margin: 0 auto 1rem;
}


/*
 * Container
 *
 * Center the page content.
 */

.container {
   max-width: 28rem;
   margin-right: auto;
   margin-left: auto;
   padding-right: 1rem;
   padding-left: 1rem;
}
@media (min-width: 38rem) {
   .container { max-width: 32rem; }
}
@media (min-width: 56rem) {
   .container { max-width: 38rem; }
}

/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
   padding-top: 1rem;
   padding-bottom: 1rem;
   border-bottom: 1px solid #eee;

   input[type="search"] {
      float: right;
      margin-top: 3px;
      padding: 0.1rem 0.2rem;
      border: 0;

      &:hover,
      &:focus { outline: 2px solid $color-lightGray; }
   }
}
.masthead-title {
   margin-top: 0;
   margin-bottom: 0;
   color: $color-text;
}
.masthead-title a {
   color: $htw-green;
}
h2 small,
h3 small,
.passive,
.masthead-title small {
   letter-spacing: 0;
   color: #c0c0c0;
   font-size: 75%;
   font-weight: 400;
}

@media (max-width: 23rem) {
   .masthead input[type="search"] { display: none; }
}
@media (max-width: 48rem) {
   // .masthead-title { text-align: center; }
   .masthead-title small { display: none; }
}


/*
 * Posts and pages
 *
 * Each post is wrapped in `.post` and is used on default and post layouts. Each
 * page is wrapped in `.page` and is only used on the page layout.
 */

.page,
.post {
   margin-top: 3rem;
   margin-bottom: 4rem;
}

/* Blog post or page title */
.page-title,
.post-title {
   margin-top: 0;
   color: #303030;
}
.page-title-center,
.post-title-center {
   text-align: center;
}

/* Meta data line below post title */
.post-date {
   display: block;
   margin-top: -.5rem;
   margin-bottom: 1rem;
   color: $htw-gray;
}

/* Related posts */
.related {
   padding-top: 2rem;
   padding-bottom: 2rem;
   border-top: 1px solid #eee;
}


/*
 * Pagination
 *
 * Super lightweight (HTML-wise) blog pagination. `span`s are provide for when
 * there are no more previous or next posts to show.
 */

//.pagination {
//   overflow: hidden; /* clearfix */
//   margin-right: -1rem;
//   margin-left: -1rem;
//   text-align: center;
//   color: #ccc;
//   font-family: $font-family-headings;
//}
//
///* Pagination items can be `span`s or `a`s */
//.pagination-item {
//   display: block;
//   padding: 1rem;
//   border: 1px solid #eee;
//
//   &:first-child {
//      margin-bottom: -1px;
//   }
//}

/* Only provide a hover state for linked pagination items */
// a.pagination-item:hover {
//    background-color: #f5f5f5;
// }

@media (min-width: 30rem) {
   .pagination {
      margin: 3rem 0;
   }
   .pagination-item {
      float: left;
      width: 50%;

      &:first-child {
         margin-bottom: 0;
         border-top-left-radius: 4px;
         border-bottom-left-radius: 4px;
      }
      &:last-child {
         margin-left: -1px;
         border-top-right-radius: 4px;
         border-bottom-right-radius: 4px;
      }
   }
}
