//
// VARIABLES
// --------------------------------------------------


// HTW Fonts
// -------------------------

$htw-font-family-hedings: "Signika", serif;
$htw-font-family-text:    Verdana, sans-serif;


// Poole Fonts
// -------------------------

$font-family-sans-serif:  "PT Sans", Helvetica, Arial, sans-serif;
$font-family-serif:       "Noto Serif", Georgia, "Times New Roman", serif;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier- New", monospace;


// Used Fonts
// -------------------------

$font-family-headings:    $htw-font-family-hedings;
$font-family-text:        $font-family-serif;
$font-family-code:        $font-family-monospace;


// HTW Colors
// -------------------------

$htw-green:               #76b900;
$htw-orange:              #ff5f00;
$htw-blue:                #0082d1;
$htw-gray:                #afafaf;

$htw-green-light:         lighten($htw-green, 50%);
$htw-orange-light:        lighten($htw-orange, 50%);
$htw-blue-light:          lighten($htw-blue, 50%);


// Poole Colors
// -------------------------

$poole-gray:              #515151;
$poole-darkGray:          #313131;
$poole-white:             #fff;
$poole-blue:              #268bd2;


// Used Colors
// -------------------------

$color-text:              $poole-gray;
$color-bg:                $poole-white;
$color-darkGray:          $poole-darkGray;
$color-lightGray:         #ccc;
$color-lighterGray:       #f9f9f9;
$link-color:              $htw-blue;
$red:                     #b90019;


// Font Sizes
// -------------------------

$font-size-base:          16px;
$font-size-large:         ceil($font-size-base * 1.25);
$font-size-huge:          ceil($font-size-base * 1.5);
$font-size-small:         ceil($font-size-base * 0.85);

$line-height-base:        1.42857;
$line-height-computed:    floor($font-size-base * $line-height-base);
