h1 Start
p Auf dieser Seite sind alle #{link_to 'Präsentations-Unterlagen', '/slides'}, #{link_to 'Übungsaufgaben', '/exercises'},
  #{link_to 'Veranstaltungs-Termine', '/timetable'} und ergänzenden Lehrinhalte zur Veranstaltung *Webentwicklung WS15/16*
  zu finden.
