h1 Start
p Auf dieser Seite sind alle #{link_to 'Präsentations-Unterlagen', '/site/slides'}, #{link_to 'Übungsaufgaben', '/site/exercises'},
  #{link_to 'Veranstaltungs-Termine', '/site/timetable'} und ergänzenden Lehrinhalte zur Veranstaltung *Webentwicklung WS15/16*
  zu finden.
